/venv/*
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.idea/
*.vscode/
*.swp
*.swo
*.bak
*.tmp
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.crt
*.key
.tfstate
.tfstate.backup
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
